.nav{
    grid-area: nav;
    background: #a068d7;
}
.item {
    margin: 10px;
}
.item a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.item a.active{
    color: gold;
}
.item a:hover{
    color: gold;
    cursor: pointer;
}

/*itemFriends*/
.itemFriends{
    margin: 50px 10px 10px 10px;
}
.itemFriends a{
    color: white;
    font-size: 26px;
    text-decoration: none;
}
.itemFriends a.active{
    color: gold;
}
.itemFriends a:hover{
    color: gold;
    cursor: pointer;
}
.itemFriends span{

}
.wrapper{
    display: flex;
    justify-content: space-between
}
.nameF{
    text-align: center;
}
.itemFriends .circle{
    background: gold;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 auto;
}