.dialogs {
    display: grid;
    grid-template-columns:2fr 10fr;
}
.dialog {
    padding: 10px;
    display: flex;
    align-items: flex-end;
}
.dialog img{
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.dialog a{
    text-decoration: none;
    color: #8f0202;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.blockMessage{
    display: flex;
}
.messages {}
.message {
    margin: 10px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}
.addMessage{
    display: flex;
    
}
.addMessage textarea{
    resize:none
}
.addMessage button{

}